<div class="d-flex align-items-center justify-content-center" style="height: 50rem;">
    <div class="m-auto">
        <main class="w-100">
            <form>
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="example@gmail.com">
                    <label for="floatingInput">Email address</label>
                </div>

                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <div class="form-checkbox mb-3">
                    <label>
                        <input type="checkbox" class="me-2" value="remember-me">Remember Me
                    </label>
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
            </form>
        </main>
    </div>

</div>